body {
    background-color: #1F1F28;
    line-height: 1.6em;
}

h1, h2 {
    font-family: sans-serif;
    color: gray;
}

h1 {
    border-bottom: 1px solid black;
}

p {
    color: #DCD7BA;
}

#guarantee {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: #2A2A37;
    padding: 25px;
    padding-left: 80px;
    margin: 30;
    background-image: url(home.jpeg);
    background-repeat:   no-repeat;
    background-position: top left;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
}
